*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #f0f0f0;
}

footer{
    align-self: flex-end;
    
    background: #202020;
    color: white;
    width: 100%;
    
}

.ContainerFooterAll{
    
    margin: auto;
    max-width: 2000px;
    width: 100%;
    padding: 40px;
}

.ContainerFooterUp{
    display: flex;
    justify-content: space-between;
}

.Column1{
    max-width: 400px;
}

    .Column1 .h1{
        font-size: 22px;
    }

    .Column1 p {
        font-size: 14px;
        color: #c7c7c7;
        margin-top: 20px;
    }
